.player{
    text-align: center;
    margin-top: 10%;
}

.player_controls{ 
    display: flex;
    justify-content: center;
    
 } 

.button{
    width: 60px;
    height: 40px;
    font-size: large;
}
.progress{
    background-color: red;
    height: 5px;
}

.toggle{
    margin-right: 50px;
}